* { margin: 0px; padding: 0px; }
body {
	background: #f0f1f2;
	font:12px "Open Sans", sans-serif; 
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1475046422_089758.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1475046422_089758.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1475046422_089758.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1475046422_089758.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1475046422_089758.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

#view-code{
  color:#89a2b5;    
  opacity:0.7;
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:660px;
  left:50%;margin-left:-50px;
  z-index:200;
}
#view-code:hover{opacity:1;}
#chatbox{
	width:100%;
	background:#e5e5e5;
	border-radius:6px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#friendslist{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#topmenu{
	height:69px;
	width:290px;
	border-bottom:1px solid #d8dfe3;	
}
#topmenu span{
	float:left;	
	width: 96px;
    height: 70px;
    background: url("images/top-menu.png") -3px -118px no-repeat;
}
#topmenu span.friends{margin-bottom:-1px;}
#topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
#topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
#topmenu span.history{background-position:-190px 24px; cursor:pointer;}
#topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}
.friend{
	border-bottom:1px solid #e7ebee;		
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:15%;
	margin:5px;
	float:left;
}
.floatingImg{
	width:40px;
	border-radius:50%;
	border:3px solid #fff;
	display: block;
	float: left;
}
.friend p{
	padding:5% 0 0 0;			
	float:left;
	width:220px;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
	color:#597a96;  

}
.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
	display: block;
	width: 80%;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow:hidden;
}
.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}
#search{
	/*background:#e3e9ed url("images/search.png") -11px 0 no-repeat;*/
	padding: 2%;
	border-radius: 5px;
	box-shadow:0 5px 3px #DDD;
	background-color: #fff;
	margin: 5px 0;
	/*position:absolute;
	bottom:0;
	left:0;*/
}
#search i{
	display:inline-block;
	width: 5%;
}
#searchfield{
	display:inline-block;
	width: 85%;
	height: 25px;
	line-height: 25px;
	color: #c0c1c1;
	border: none;
	background-color: #fff;
}
#searchfield:focus{
	 outline: 0;
}
#chatview{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;	
	display:none;
	background:#ebebeb;
}
#profile{
	/*height:30%;*/
	overflow:hidden;
	text-align:center;
	color:#fff;
}
.p1 #profile{
	/*background:#fff url("images/timeline1.png") 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;*/
	background-color: #00adef;
}
#profile .avatar{
	width:68px;
	border:3px solid #fff;
	margin:23px 0 0;
	border-radius:50%;
}
#profile  p{
	font-weight:600;
	font-size:15px;
	opacity:1;
	margin: 40px 0 0 0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile img{
	width: 80px;
	height: 80px;
	margin: 2%;
}
#profile a{
	display:block; 
	float:right;
	color: #1cef00;
	font-size: 1.3em;
	font-weight: bold;
	margin: 15px 5% 0 0;
}
#profile  p.animate{
	margin-top:97px;
	opacity:1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  span{
	font-weight:400;
	font-size:11px;
}
#chat-messages{
	opacity:0;
	margin-top:30px;
	box-sizing:border-box;
	width:100%;
	/*height:63%;*/
	overflow-y:hidden;	
	overflow-x:hidden;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
	opacity: 1;
	margin-top: -40px;
	overflow: auto;
}
#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	width:290px;
	display:block;	
}
#chat-messages div.message{
	padding:0 40px 10px 40px;
	clear:both;
	/*margin-bottom:15px;*/
}
#chat-messages div.message.right{
	  padding: 0 40px 10px 40px;
	  /*margin-right: -19px;*/
	  /*margin-left: 19px;*/
}
#chat-messages .message img{
	  float: left;
	  margin-left: -38px;
	  border-radius: 50%;
	  width: 35px;
	  height: 35px;
	  margin-top: 12px;
}
#chat-messages div.message.right img{
	float: right;	
    margin-left: 0;
	margin-right: -38px;	
}
.message .bubble{	
	background:#fbfbfb;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px;
	border:1px solid #cecece;
	color:#000;
	position:relative;
	float:left;
}
.message .send_error{
	float: right;
	color: red;
	font-size: 24px;
	line-height: 39px;
	margin-right: 7px;
}
#chat-messages div.message.left .bubble:before{
	content: "";
	position: absolute;
	left: -9px;
	top: 14px;
	border-top: 9px solid transparent;
	border-right: 9px solid #cecece;
	border-bottom: 9px solid transparent;
}
#chat-messages div.message.left .bubble:after{
	content: "";
	position: absolute;
	left: -7px;
	top: 15px;
	border-top: 8px solid transparent;
	border-right: 8px solid #fbfbfb;
	border-bottom: 8px solid transparent;
}

#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px;
	background-color: #9ee85d;
	position: relative;
}
#chat-messages div.message.right .bubble:before{
	content: "";
	position: absolute;
	right: -8px;
	top: 14px;
	border-top: 9px solid transparent;
	border-left: 9px solid #cecece;
	border-bottom: 9px solid transparent;
}
#chat-messages div.message.right .bubble:after{
	content: "";
	position: absolute;
	right: -7px;
	top: 15px;
	border-top: 8px solid transparent;
	border-left: 8px solid #9ee85d;
	border-bottom: 8px solid transparent;
}
.bubble .corner{
	background:url("images/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}
div.message.right .corner{
	background:url("images/bubble-cornerR.png") 0 0 no-repeat;
	left:auto;
	right:-5px;
}
.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}
.message span{
	  color: #aab8c2;
	  font-size: 11px;
	  display: block;
	  width: 100%;
	  margin: 0 auto;
	  text-align: center;
}
#sendmessage{
	padding: 7px;
	box-sizing:border-box;
	border-top:1px solid #c3c3c3;	
	position:absolute;
	bottom:0;
	left:0px;
	width:100%;
	background:#f4f4f6;
	box-shadow: 0 0px 27px 0 #d4d4d4;
}
#sendmessage #consultcon{
	border-radius: 6px;
	border: 1px solid #c3c3c3;
	background: #fdfdfd;
	display: inline-block;
	width: 100%;
	/* padding: 10px 2%; */
	box-sizing: border-box;
	font-size: 1.2em;
	padding: 5px 0;
	text-indent: 5px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400px;
	color: #000;
	overflow:scroll;overflow-y:hidden;overflow-x:hidden
}
#sendmessage input:focus{
	 outline: 0;
}
#sendmessage button{
	display: inline-block;
	border-radius: 6px;
	border:1px solid #7f8389;
	width:19%;
	padding:10px 0;
	color: #7f8389;
	background-color: #f4f4f6;
	cursor: pointer;
}
#sendmessage button:hover{
	cursor:pointer;
	background-position: 0 0 ;
}
#sendmessage button:focus{
	 outline: 0;	 
}

#close{
	position:absolute;
	top: 8px;	
	opacity:0.8;
 	right: 10px;
	width:20px;
	height:20px;
	cursor:pointer;
}
#close:hover{
	opacity:1;
}
.cx, .cy{
	background:#fff;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#chatview, #sendmessage { 
}