body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p {
  margin: 0;
  padding: 0;
  font-size: 1em; }

input, button, select, textarea {
  outline: none; }

li {
  list-style: none; }

img {
  border: none; }

textarea {
  resize: none; }

body {
  color: #666;
  background: #fff;
  word-break: break-all;
  word-wrap: break-word; }

body, input, textarea {
  font-size: 12px;
  font-family: \5b8b\4f53,Verdana,Arial;
  background-color: #F0F0F0; }

a {
  color: #305999;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #090; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1474528511_8302639.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1474528511_8302639.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1474528511_8302639.woff") format("woff"), url("//at.alicdn.com/t/font_1474528511_8302639.ttf") format("truetype"), url("//at.alicdn.com/t/font_1474528511_8302639.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-dk90fi");
  src: url("fonts/icomoon.eot?#iefix-dk90fi") format("embedded-opentype"), url("fonts/icomoon.ttf?-dk90fi") format("truetype"), url("fonts/icomoon.woff?-dk90fi") format("woff"), url("fonts/icomoon.svg?-dk90fi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e600"; }

.icon-checkmark:before {
  content: "\e601"; }

.icon-loop2:before {
  content: "\e602"; }

.icon-circle-right:before {
  content: "\e603"; }

.clear {
  clear: both; }

.f_l {
  float: left; }

.f_r {
  float: right; }

#wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box; }

section {
  border-radius: 5px;
  box-shadow: 0 5px 3px #DDD;
  background-color: #fff; }

#cztable {
  width: 100%;
  border: solid 1px #add9c0;
  font-size: 1.0em; }
  #cztable td {
    border: solid 1px #add9c0;
    height: 25px;
    line-height: 25px;
    text-align: center; }

.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  /*padding: .5em 1em .55em;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.blue {
  padding: .5em;
  letter-spacing: 3px;
  text-indent: 3px;
  text-align: center;
  color: #d9eef7;
  border: none;
  background: #07a9e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#07a9e7));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }

.grey {
  padding: .5em;
  letter-spacing: 3px;
  text-indent: 3px;
  text-align: center;
  color: #d9eef7;
  border: none;
  background: #a0a0a0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#a0a0a0));
  background: -moz-linear-gradient(top, #c5c5c5, #a0a0a0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5c5c5', endColorstr='#a0a0a0'); }

.greenbtn {
  display: block;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 8px;
  /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
  background: #428739;
  background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
  background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
  color: #fff;
  border: none;
  margin: 5px auto 10px;
  letter-spacing: 3px;
  width: 95%; }

.title1 {
  font-size: 1.1em;
  color: #33C80E;
  line-height: 30px;
  height: 30px;
  text-indent: 1.3em;
  border-bottom: 2px solid #F0F0F0; }

a, img, button, input, textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

input, textarea {
  -webkit-appearance: none;
  resize: none;
  outline: none; }

.wappages {
  padding: 3px;
  margin: 3px;
  text-align: center; }

.wappages a {
  border: #eee 1px solid;
  padding: 2px 5px;
  margin: 2px;
  color: #036cb4;
  text-decoration: none; }

.wappages a:hover {
  border: #999 1px solid;
  color: #666; }

.wappages a:active {
  border: #999 1px solid;
  color: #666; }

.wappages .current {
  border: #036cb4 1px solid;
  padding: 2px 5px;
  font-weight: bold;
  margin: 2px;
  color: #fff;
  background-color: #036cb4; }

.wappages .disabled {
  border: #eee 1px solid;
  padding: 2px 5px;
  margin: 2px;
  color: #ddd; }

/*PUBLIC_HEAD BEGIN*/
.doctor_head {
  /*background-image: url('images/d_details.jpg');
  background-size: 100% 100%;
  background-position: 0 0;*/
  background-color: #00adef;
  max-width: 640px;
  margin: 0 auto; }
  .doctor_head .hd1 {
    float: left; }
    .doctor_head .hd1.dpic {
      padding: 1%;
      box-sizing: border-box; }
      .doctor_head .hd1.dpic img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }
    .doctor_head .hd1.dinfo {
      box-sizing: border-box;
      color: #fff;
      width: 50%;
      padding: 7px 0 0 0; }
      .doctor_head .hd1.dinfo div {
        margin: 5px 0 0 0; }
      .doctor_head .hd1.dinfo div:nth-of-type(1) {
        margin-top: 0; }
        .doctor_head .hd1.dinfo div:nth-of-type(1) > span:first-child {
          font-size: 1.2em;
          font-weight: bold; }
      .doctor_head .hd1.dinfo div:nth-of-type(2) {
        height: 25px; }
      .doctor_head .hd1.dinfo div:nth-of-type(3) > a {
        display: inline-block;
        width: 40%;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 6px;
        color: #fff; }
      .doctor_head .hd1.dinfo div:nth-of-type(3) > a:first-child {
        background-color: #F1A85B; }
      .doctor_head .hd1.dinfo div:nth-of-type(3) > a:nth-of-type(2) {
        background-color: #67c474; }

/*PUBLIC_HEAD END*/
/*DOCTOR BEGIN*/
/*.hospital-detail{
	overflow: hidden;
	>div:first-child{
		margin:5px 2%;
		padding: 6px 0;
		border-bottom: 3px solid #DDD;
	}
	>div:nth-of-type(2){
		padding: 8px 0;
	}
}
.doctor_list{
	margin-top: 15px;
	>div:first-child{
		margin:15px 2% 0;
		padding: 13px 0;
		border-bottom: 3px solid blue;
	}
	>div:nth-of-type(2){
		text-indent: 1.5em;
	}
	>div:nth-of-type(3){
		padding: 2% 1%;
		ul{
			li{
				>div:first-child{
					width: 30%;
					overflow: hidden;
					img{
						width: 100%;
						border:1px solid #ddd;
						padding: 3%;
						background-color: red;
						box-sizing:border-box;
					}
				}
				>div:nth-of-type(2){
					width: 70%;
					padding: 2% 5%;
					box-sizing:border-box;
					>div:first-child{
						position: relative;
						.doctor_status{
							display: block;
							position: absolute;
							right: 0;
							top: -15px;
							width: 35%;
							color: #fff;
							text-align: center;
							height: 20px;
							line-height: 20px;
							background-color: #92D265;
						}
						>span:first-child{
							color:#FFAB3D;
							font-size: 1.3em;
							font-weight: bold;
						}
						>span:nth-of-type(2){
							text-indent: 1.2em;
							color: #C4C4C4;
						}
					}
					>div:nth-of-type(2){
						padding: 2% 0;
					}
				}
			}
		}
	}
}*/
/*DOCTOR END*/
/*DOCTOR_DETAILS BEGIN*/
.doctor_details section {
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .doctor_details section div:first-child {
    color: #33C80E;
    line-height: 30px;
    height: 30px;
    text-indent: 1.3em;
    border-bottom: 2px solid #F0F0F0; }
  .doctor_details section div:nth-of-type(2) {
    padding: 4%;
    line-height: 15px;
    box-sizing: border-box; }
.doctor_details section:last-child, .doctor_details section:first-child {
  padding-top: 15px;
  box-sizing: border-box; }
  .doctor_details section:last-child a, .doctor_details section:first-child a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
    background: #e24949;
    background: -webkit-gradient(linear, left top, left bottom, from(#d97e5e), to(#e24949));
    background: -moz-linear-gradient(-90deg, #d97e5e, #e24949);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#d97e5e', EndColorStr='#e24949');
    color: #fff;
    border: none;
    margin: 10px auto;
    width: 95%; }
.doctor_details section:first-child a {
  background: #97d5ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(#97d5ed));
  background: -moz-linear-gradient(-90deg, #00adef, #97d5ed);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00adef', EndColorStr='#97d5ed'); }

/*DOCTOR_DETAILS END*/
/*CONSULT INDEX BEGIN*/
.consult_index section div:first-child {
  color: #33C80E;
  line-height: 30px;
  height: 30px;
  text-indent: 1.3em;
  border-bottom: 2px solid #F0F0F0; }
.consult_index section table tr {
  height: 30px; }
.consult_index section table tr:nth-of-type(1) td input {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  text-indent: 5px;
  border: 1px solid #c3bfbf;
  background-color: #fff; }
.consult_index section table textarea {
  width: 100%;
  border: 1px solid #c3bfbf;
  background-color: #fff; }
.consult_index section table tr:nth-of-type(7) td span:nth-of-type(1) {
  display: block;
  float: left;
  width: 20%; }
  .consult_index section table tr:nth-of-type(7) td span:nth-of-type(1) input:nth-of-type(1) {
    width: 46px;
    height: 45px;
    overflow: hidden;
    text-indent: -99999px;
    background: url("images/con1.jpg"); }
.consult_index section table tr:nth-of-type(8) td input {
  display: block;
  height: 35px;
  border-radius: 8px;
  /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
  background: #428739;
  background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
  background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
  color: #fff;
  border: none;
  margin: 10px auto;
  width: 95%; }

/*CONSULT INDEX END*/
/*HOSPITAL BEGIN*/
/*.hospital_list{
	padding: 2%;
	margin: 5px 0 0 0;
	box-sizing:border-box;
	ul{
		li{
			width: 46%;
			overflow: hidden;
			display: inline-block;
			>a:first-child{
				display: block;
				float: left;
				max-width:80%; 
				white-space:nowrap; 
				text-overflow:ellipsis; 
				overflow:hidden;
			}
			>span{
				display: block;
				float: left;
			}
		}
	}
}*/
/*HOPITAL END*/
/*FOOTER BEGIN*/
footer {
  position: fixed;
  width: 100%;
  border-top: 1px solid #DDD;
  bottom: 0;
  color: #fff;
  /*@include background(linear-gradient(bottom, #A6A6A6, #fff));*/
  background-color: #00adef; }
  footer ul > li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    height: 65px;
    line-height: 40px;
    color: #000;
    box-sizing: border-box;
    /*&:nth-of-type(2){
    	>div{
    		>span{
    			display: block;
    			background-image: url('images/icon2.png');
    			background-repeat: no-repeat; 
    			background-position: center 5px;
    			line-height: 84px;
    		}
    		position: relative;
    		div{
    			position: absolute;
    			background-color: #fff;
    			left: 0;
    			top: 0;	
    			display: none;	
    			width: 100%;
    			border:1px solid #DDD;
    			border-radius: 5px;
    			padding: 0 15px;
    			box-sizing:border-box;
    			span{
    				display: block;
    				&:first-child{
    					border-bottom:1px solid #DDD;
    				}
    			}
    			&:before{
    				content: "";
    				position: absolute;
    				bottom: -8px;
    				left: 47%;
    				border-top: 8px solid #DDD;
    				border-left: 8px solid transparent;
    				border-right: 8px solid transparent;
    			}
    			&:after{
    				content: "";
    				position: absolute;
    				bottom: -6px;
    				left: 48%;
    				border-top: 7px solid #fff;
    				border-left: 7px solid transparent;
    				border-right: 7px solid transparent;
    			}
    		}
    	}
    }*/ }
    footer ul > li > a {
      display: block;
      background-repeat: no-repeat;
      background-position: center 5px;
      color: #fff;
      line-height: 100px; }
    footer ul > li:nth-of-type(1) > a {
      background-image: url("images/icon1.png"); }
    footer ul > li:nth-of-type(2) > a {
      background-image: url("images/icon2.png"); }

/*FOOTER END*/
/*STARS BEGIN*/
#stars span {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("star.gif");
  background-position: 0 17px; }

/*STARS END*/
/*CUSTOME_HEAD BEGIN*/
#custom_head {
  background-color: #00adef;
  overflow: hidden;
  max-width: 640px;
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box; }
  #custom_head a > img {
    float: left;
    /*width: 30%;*/
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  #custom_head a .custom_name {
    margin: 30px 0 0 2%;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    float: left; }
  #custom_head a .jiantou {
    float: right;
    margin-top: 20px; }
    #custom_head a .jiantou img {
      width: 50%; }

/*CUSTOME_HEAD END*/
/*USER_DOCTOR BEGIN*/
.user_doctor section:nth-of-type(1) ul li > img {
  float: left;
  width: 25%;
  margin: 2%; }
.user_doctor section:nth-of-type(1) ul li .user_doctor_details {
  float: left;
  width: 70%;
  height: 50px;
  padding: 5px 0 0 3%;
  box-sizing: border-box; }
  .user_doctor section:nth-of-type(1) ul li .user_doctor_details span {
    display: block;
    margin: 5px 0 0 0; }

/*USER_DOCTOR END*/
/*USER_CONSULTM BEGIN*/
.user_consultm ul li {
  border-radius: 5px;
  box-shadow: 0 5px 3px #DDD;
  background-color: #fff;
  margin-bottom: 7px;
  /*div:nth-of-type(1){
  	float:left;
  	width: 37%;
  	height: 50px;
  	padding: 5px 0 0 3%;
  	box-sizing:border-box;
  	span{
  		display: block;
  		margin: 5px 0 0 0;
  	}
  	span:nth-of-type(2){
  		height: 40px;
  		overflow: hidden;
  	}
  }
  .user_consultm_date{
  	width: 32%;
  	display: block;
  	float: right;
  	margin: 40px 0 0 0;
  }*/ }
  .user_consultm ul li > img {
    float: left;
    width: 25%;
    margin: 2%; }
  .user_consultm ul li div:nth-of-type(1) {
    width: 70%;
    float: left;
    height: 25px;
    margin-bottom: 5px;
    padding: 10px 0 0 0;
    box-sizing: border-box; }
    .user_consultm ul li div:nth-of-type(1) span:nth-of-type(1) {
      display: inline-block;
      width: 50%; }
  .user_consultm ul li div:nth-of-type(2) {
    width: 70%;
    float: left;
    height: 40px;
    overflow: hidden; }

/*USER_CONSULTM END*/
/*USER_CUSTOM BEGIN*/
.user_custom section {
  margin-bottom: 10px;
  padding: 6px 2%;
  font-size: 1.2em; }

/*USER_CUSTOM END*/
/*USER_PERSON BEGIN*/
.user_person section {
  padding: 6px 2%; }
  .user_person section ul li {
    margin: 0 0 6px; }
    .user_person section ul li input {
      display: block;
      height: 35px;
      border-radius: 8px;
      border: none;
      margin: 10px auto;
      width: 95%;
      font-size: 1.2em; }
  .user_person section ul li:nth-of-type(4) input {
    display: block;
    height: 35px;
    border-radius: 8px;
    /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
    color: #fff;
    border: none;
    margin: 10px auto;
    width: 95%; }

/*USER_PERSON END*/
/*USER_FOOT BEGIN*/
#user_foot {
  position: fixed;
  width: 100%;
  border-top: 1px solid #DDD;
  bottom: 0;
  /*@include background(linear-gradient(bottom, #A6A6A6, #fff));*/
  background-color: #00adef; }
  #user_foot ul > li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    height: 65px;
    line-height: 40px;
    color: #000;
    box-sizing: border-box; }
    #user_foot ul > li > a {
      display: block;
      color: #fff;
      line-height: 100px;
      position: relative; }
      #user_foot ul > li > a:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 42px;
        font-size: 32px; }
    #user_foot ul > li:nth-of-type(1) > a:after {
      content: "\e601"; }
    #user_foot ul > li:nth-of-type(2) > a:after {
      content: "\e600"; }
    #user_foot ul > li:nth-of-type(3) > a:after {
      content: "\e600"; }

/*USER_FOOT END*/
/*DOCTOR_CUSTOM BEGIN*/
.doctor_custom ul .searchli {
  font-size: 1.3em;
  padding-top: 4px;
  vertical-align: middle;
  text-align: center;
  line-height: 29px; }
  .doctor_custom ul .searchli div {
    border-radius: 6px;
    display: inline-block;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;
    width: 80%;
    border: 1px solid #DDD; }
    .doctor_custom ul .searchli div i {
      display: inline-block;
      width: 8%; }
    .doctor_custom ul .searchli div input {
      display: inline-block;
      width: 85%;
      height: 25px;
      line-height: 25px;
      color: #c0c1c1;
      border: none;
      font-size: 1.1em;
      background-color: #fff; }
  .doctor_custom ul .searchli a {
    display: inline-block;
    width: 15%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 5px;
    word-spacing: 3px;
    letter-spacing: 3px;
    background-color: #fff; }
.doctor_custom ul #qunfa {
  background-color: #fff;
  border: 1px solid #DDD;
  margin: 5px 0;
  padding: 6px;
  font-size: 1.3em;
  box-sizing: border-box;
  line-height: 30px; }
  .doctor_custom ul #qunfa span {
    display: inline-block;
    text-indent: 7px; }
.doctor_custom ul li {
  background-color: #fff;
  padding: 1%;
  border-bottom: 1px solid #DDD; }
  .doctor_custom ul li .prompt {
    position: relative; }
    .doctor_custom ul li .prompt img {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle; }
    .doctor_custom ul li .prompt .customname {
      display: inline-block;
      width: 66%; }
    .doctor_custom ul li .prompt span {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: red;
      left: 32px;
      top: -6px; }
    .doctor_custom ul li .prompt .custom_detail {
      float: right;
      line-height: 40px;
      margin-right: 5px; }
  .doctor_custom ul li .doctor_custom_details {
    float: left;
    width: 70%;
    box-sizing: border-box; }
    .doctor_custom ul li .doctor_custom_details span {
      display: block;
      margin: 8% 0 0 2%; }

/*DOCTOR_CUSTOM END*/
/*DOCTOR_CDETAILS BEGIN*/
.doctor_cdetails section {
  padding: 2%;
  margin-bottom: 15px;
  box-sizing: border-box; }
  .doctor_cdetails section > div {
    font-size: 1.2em; }
  .doctor_cdetails section ul li {
    line-height: 30px;
    font-size: 1.2em;
    border-bottom: 1px solid #939292; }
  .doctor_cdetails section ul li:last-child {
    /*border-bottom: none;*/ }
.doctor_cdetails section:last-of-type {
  padding: 2%; }
  .doctor_cdetails section:last-of-type ul li {
    height: auto;
    border: none; }

/*DOCTOR_CDETAILS END*/
/*DOCTOR_CONSULTM BEGIN*/
.doctor_consultm ul li {
  border-radius: 5px;
  box-shadow: 0 5px 3px #DDD;
  background-color: #fff;
  margin: 2px 0 8px 0; }
  .doctor_consultm ul li > img {
    float: left;
    width: 25%;
    margin: 2%; }
  .doctor_consultm ul li div:nth-of-type(1) {
    width: 70%;
    float: left;
    height: 25px;
    margin-bottom: 5px;
    padding: 10px 0 0 0;
    box-sizing: border-box; }
    .doctor_consultm ul li div:nth-of-type(1) span:nth-of-type(1) {
      display: inline-block;
      width: 50%; }
  .doctor_consultm ul li div:nth-of-type(2) {
    width: 70%;
    float: left;
    height: 40px;
    overflow: hidden; }

/*DOCTOR_CONSULTM END*/
/*COMMENT_INDEX BEGIN*/
.comment_index {
  overflow: hidden; }
  .comment_index section {
    padding-bottom: 15px; }
  .comment_index div:first-child {
    color: #33C80E;
    line-height: 30px;
    height: 30px;
    text-indent: 1.3em;
    border-bottom: 2px solid #F0F0F0; }
  .comment_index #stars {
    margin: 10px 0 0 10px; }
  .comment_index textarea {
    width: 100%;
    padding: 3%;
    box-sizing: border-box; }
  .comment_index input {
    display: block;
    height: 35px;
    border-radius: 8px;
    /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
    color: #fff;
    border: none;
    margin: 5px auto 10px;
    width: 95%; }

/*COMMENT_INDEX END*/
/*TYS_STEWARD BEGIN*/
body html {
  height: 100%; }

#tys_steward {
  max-width: 640px;
  margin: 0 auto;
  width: 100%; }
  #tys_steward ul li {
    float: left;
    width: 50%; }
    #tys_steward ul li a {
      display: block;
      width: 100%; }
      #tys_steward ul li a img {
        display: block;
        width: 100%; }
  #tys_steward ul .tishi {
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    color: yellow;
    background-color: green; }

/*TYS_STEWARD END*/
/*CONSULT_CONSULTB BEGIN*/
.consult_consultb {
  background-color: #fff; }
  .consult_consultb ul li {
    margin-bottom: 9px; }
    .consult_consultb ul li .talk_time {
      width: 100px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #B9BABB;
      color: #fff; }
    .consult_consultb ul li .left_talk span {
      display: block;
      float: left; }
    .consult_consultb ul li .left_talk span:nth-of-type(1) {
      width: 15%; }
      .consult_consultb ul li .left_talk span:nth-of-type(1) img {
        width: 100%; }
    .consult_consultb ul li .left_talk span:nth-of-type(2) {
      width: 75%;
      border: 1px solid #e2e3e0;
      padding: 2%;
      position: relative;
      margin-left: 2%; }
      .consult_consultb ul li .left_talk span:nth-of-type(2):before {
        content: "";
        position: absolute;
        left: -8px;
        top: 5px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #e2e3e0; }
      .consult_consultb ul li .left_talk span:nth-of-type(2):after {
        content: "";
        position: absolute;
        left: -6px;
        top: 5px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #fff; }
    .consult_consultb ul li .right_talk {
      float: right; }
      .consult_consultb ul li .right_talk span {
        display: block;
        float: right; }
      .consult_consultb ul li .right_talk span:nth-of-type(1) {
        width: 15%; }
        .consult_consultb ul li .right_talk span:nth-of-type(1) img {
          width: 100%; }
      .consult_consultb ul li .right_talk span:nth-of-type(2) {
        width: 75%;
        border: 1px solid #e2e3e0;
        padding: 2%;
        position: relative;
        margin-right: 2%; }
        .consult_consultb ul li .right_talk span:nth-of-type(2):before {
          content: "";
          position: absolute;
          right: -8px;
          top: 5px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 8px solid #e2e3e0; }
        .consult_consultb ul li .right_talk span:nth-of-type(2):after {
          content: "";
          position: absolute;
          right: -6px;
          top: 5px;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid #fff; }
  .consult_consultb #talkcontent textarea {
    width: 100%;
    background-color: #fff;
    height: 80px; }
  .consult_consultb #talkcontent input {
    display: block;
    height: 35px;
    border-radius: 8px;
    /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
    color: #fff;
    border: none;
    margin: 5px auto 10px;
    width: 95%; }

/*CONSULT_CONSULTB END*/
/*USER_FOOT BEGIN*/
#doctor_foot {
  position: fixed;
  width: 100%;
  border-top: 1px solid #DDD;
  bottom: 0;
  z-index: 99999;
  /*@include background(linear-gradient(bottom, #A6A6A6, #fff));*/
  background-color: #00adef; }
  #doctor_foot ul > li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    height: 65px;
    line-height: 40px;
    color: #000;
    box-sizing: border-box; }
    #doctor_foot ul > li div {
      width: 75px;
      margin: 0 auto; }
      #doctor_foot ul > li div > a {
        display: block;
        background-repeat: no-repeat;
        background-position: center 5px;
        color: #fff;
        line-height: 100px;
        position: relative; }
        #doctor_foot ul > li div > a span {
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          right: 10px;
          top: 2px;
          border-radius: 50%;
          background-color: red; }
        #doctor_foot ul > li div > a:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          line-height: 42px;
          font-size: 32px; }
    #doctor_foot ul > li:nth-of-type(1) a:after {
      content: "\e603";
      font-size: 39px; }
    #doctor_foot ul > li:nth-of-type(2) a:after {
      content: "\e600"; }

/*USER_FOOT END*/
/*Doctor_personal begin*/
.Doctor_personal {
  /*#qrcode{
  	position: fixed;
  	left: 0;
  	top: 0;
  	max-width: 640px;
  	width: 100%;
  	height: 100%;
  	background-color: #000;
  	display: none;
  	img{
  		display: block;
  		width: 80%;
  		margin: 2% auto;
  	}
  	div{
  		padding-top: 10px;
  		box-sizing:border-box;
  		text-align: center;
  		margin: 0 auto;
  		font: 1.3em;
  		font-weight: bold;
  		color: #fff;
  		line-height: 18px;
  	}
  }*/
  max-width: 640px;
  overflow: hidden;
  font-size: 1.2em; }
  .Doctor_personal ul li {
    border-radius: 5px;
    box-shadow: 0 5px 3px #DDD;
    background-color: #fff;
    margin: 8px 0;
    padding: 2%; }
  .Doctor_personal ul #myqrcode {
    color: red; }
  .Doctor_personal #pic {
    display: block; }

/*Doctor_personal end*/
/*STEWARD_INFO BEGIN*/
.steward_info section {
  padding: 20px 0; }
.steward_info ul li {
  height: 40px;
  line-height: 40px;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto; }
  .steward_info ul li:not(:last-of-type):before {
    content: "*";
    color: red; }
  .steward_info ul li:nth-of-type(1) {
    height: auto; }
    .steward_info ul li:nth-of-type(1) input {
      width: 40%; }
    .steward_info ul li:nth-of-type(1) span {
      font-size: 0.8em; }
  .steward_info ul li input {
    width: 95%;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    border-radius: 8px;
    height: 25px;
    text-indent: 7px;
    line-height: 24px;
    font-size: 1.3em; }
  .steward_info ul li select {
    width: 95%;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    border-radius: 8px;
    height: 25px;
    text-indent: 1em;
    line-height: 24px; }
  .steward_info ul li:last-child input {
    width: 95%;
    height: 35px; }
  .steward_info ul li img {
    width: 30%; }

/*STEWARD_INFO END*/
/*manager_operation begin*/
.manager_operation ul li {
  border-radius: 5px;
  box-shadow: 0 5px 3px #DDD;
  background-color: #fff;
  margin: 8px 0;
  padding: 2%; }
.manager_operation section {
  padding: 2%; }
  .manager_operation section a {
    width: 95%; }

/*manager_operation end*/
/*manager_doctor begin*/
.manager_doctor section {
  padding: 2%; }
.manager_doctor table tr th {
  height: 30px;
  width: 80px;
  line-height: 30px; }

/*manager_doctor end*/
/*MANAGER_DOCTORADD BEGIN*/
.manager_doctoradd {
  font-size: 1.2em; }
  .manager_doctoradd ul li {
    margin: 5px 0;
    widht: 100%; }
    .manager_doctoradd ul li input {
      display: block;
      margin: 0 auto;
      border: 1px solid #bfbfbf;
      background-color: #fff;
      width: 90%;
      padding: 2%;
      border-radius: 8px; }
    .manager_doctoradd ul li textarea {
      display: block;
      width: 90%;
      height: 50px;
      margin: 0 auto;
      background-color: #fff;
      padding: 2%;
      border-radius: 8px; }
    .manager_doctoradd ul li select {
      display: block;
      width: 90%;
      height: 30px;
      margin: 0 auto;
      border-radius: 8px; }
  .manager_doctoradd ul li:last-child input {
    display: block;
    height: 35px;
    border-radius: 8px;
    /*@include background(linear-gradient(bottom, #1ba024, #fff));*/
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
    color: #fff;
    border: none;
    margin: 5px auto 10px;
    width: 95%; }

/*MANAGER_DOCTORADD END*/
/*steward_laboratory begin*/
.steward_laboratory {
  max-width: 640px;
  margin: 0 auto; }
  .steward_laboratory div:nth-of-type(1) {
    line-height: 2.4em;
    background: #00C07B;
    color: #fff;
    font-size: 16px;
    text-align: center; }
  .steward_laboratory div:nth-of-type(2) ul li {
    display: inline-block;
    width: 30%;
    margin: 5px 1%; }
    .steward_laboratory div:nth-of-type(2) ul li img {
      width: 100%; }
    .steward_laboratory div:nth-of-type(2) ul li span {
      display: block;
      text-align: center;
      height: 15px;
      line-height: 15px;
      color: green; }
  .steward_laboratory div:nth-of-type(2) .showbigpic {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
    top: 0;
    left: 0;
    max-width: 640px;
    width: 100%;
    background-color: #a1a1a1;
    height: 100%; }
    .steward_laboratory div:nth-of-type(2) .showbigpic div img {
      width: 100%; }
    .steward_laboratory div:nth-of-type(2) .showbigpic div a {
      display: inline-block;
      width: 30%;
      height: 30px;
      background-color: #00adef;
      border-radius: 8px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 1.3em; }
  .steward_laboratory div:nth-of-type(3) {
    position: relative; }
    .steward_laboratory div:nth-of-type(3) #pic {
      position: absolute;
      display: block;
      left: 20%;
      text-indent: -999999px;
      width: 60%;
      height: 30px;
      top: 0;
      background-color: red;
      opacity: 0; }
    .steward_laboratory div:nth-of-type(3) button {
      width: 60%; }

/*steward_laboratory end*/
/*DOCTOR_MODIFY BEGIN*/
.doctor_modify {
  color: #929292; }
  .doctor_modify #fankuiboxwrap {
    display: none;
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.6);
    overflow: hidden; }
    .doctor_modify #fankuiboxwrap #fankuibox {
      font-size: 1.2em;
      background-color: #fff;
      height: 134px;
      width: 250px;
      margin: 36% auto 0;
      padding-top: 20px;
      border-radius: 8px;
      box-sizing: border-box; }
      .doctor_modify #fankuiboxwrap #fankuibox > div {
        height: 40px;
        line-height: 40px; }
      .doctor_modify #fankuiboxwrap #fankuibox > div:nth-of-type(1) {
        text-align: center; }
      .doctor_modify #fankuiboxwrap #fankuibox > div:nth-of-type(2) {
        text-align: center; }
        .doctor_modify #fankuiboxwrap #fankuibox > div:nth-of-type(2) span:nth-of-type(1) {
          width: 55px; }
        .doctor_modify #fankuiboxwrap #fankuibox > div:nth-of-type(2) span {
          margin: 0 5px;
          width: 120px; }
  .doctor_modify #loading {
    display: none;
    position: absolute;
    right: 22px;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    top: 6px; }
    .doctor_modify #loading img {
      width: 100%; }
  .doctor_modify #fankui li span {
    /*display: inline-block;
    vertical-align: middle;*/ }
    .doctor_modify #fankui li span:first-child {
      float: left;
      text-align: left;
      padding-left: 0;
      margin-left: 0;
      text-indent: 0; }
    .doctor_modify #fankui li span:last-child {
      float: right;
      text-align: right;
      padding-right: 0;
      margin-right: 0;
      text-indent: 0; }
  .doctor_modify section {
    border-radius: none;
    box-shadow: none;
    margin: 10px 0;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7; }
    .doctor_modify section:nth-of-type(1) {
      position: relative; }
      .doctor_modify section:nth-of-type(1) #doctorpic {
        width: 80px;
        height: 80px;
        display: block;
        float: right;
        margin: 5px 7% 5px 5px;
        position: relative; }
      .doctor_modify section:nth-of-type(1) i {
        position: absolute;
        right: 2%;
        top: 40px;
        font-size: 1.3em; }
      .doctor_modify section:nth-of-type(1) #doctorpic {
        border-radius: 50%;
        border: 1px solid #ccdde7; }
      .doctor_modify section:nth-of-type(1) #pic {
        position: absolute;
        display: block;
        right: 0;
        text-indent: -999999px;
        width: 60%;
        height: 100%;
        background-color: red;
        opacity: 0; }
      .doctor_modify section:nth-of-type(1) .cflow {
        position: absolute;
        left: 2%;
        width: 60%;
        height: 40px;
        top: 40%;
        font-size: 1.5em;
        font-weight: bold;
        color: #959595; }
    .doctor_modify section ul {
      padding: 2%; }
      .doctor_modify section ul li {
        height: 40px;
        line-height: 40px;
        font-size: 1.2em;
        border-bottom: 1px solid #ddd; }
    .doctor_modify section textarea {
      width: 96%;
      margin: 2%;
      padding: 2%;
      border-radius: 8px;
      box-sizing: border-box;
      border: 1px solid #DDD;
      background-color: #fff;
      height: 100px;
      font-size: 1.2em;
      line-height: 1.5em; }
    .doctor_modify section #send {
      width: 95%; }

/*DOCTOR_MODIFY END*/
/*steward_bprotein begin*/
.steward_bprotein {
  max-width: 640px;
  margin: 0 auto; }
  .steward_bprotein div:nth-of-type(1) {
    line-height: 2.4em;
    background: #00C07B;
    color: #fff;
    font-size: 16px;
    text-align: center; }
  .steward_bprotein ul li {
    font-size: 1.4em;
    padding: 3px 0; }
    .steward_bprotein ul li textarea {
      font-size: 1.4em;
      width: 100%;
      border: 1px solid #DDD;
      border-radius: 8px;
      background-color: #fff; }
    .steward_bprotein ul li span {
      display: block;
      text-align: center;
      float: left; }
    .steward_bprotein ul li input {
      width: 20%;
      border: 1px solid #DDD;
      height: 30px;
      line-height: 30px;
      border-radius: 8px;
      background-color: #fff; }
    .steward_bprotein ul li #send {
      width: 90%;
      margin: 0 auto; }

/*steward_bprotein end*/
/*CONSULT_ALLSENDPAGE BEGIN*/
.consult_allsendpage #allsend textarea {
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #DDD;
  height: 120px;
  background-color: #fff;
  padding: 2%;
  font-size: 1.2em; }
.consult_allsendpage #allsend > div {
  text-align: center;
  margin: 0 auto; }
  .consult_allsendpage #allsend > div button {
    display: inline-block;
    margin: 5px auto;
    background-color: #fff; }
  .consult_allsendpage #allsend > div a {
    display: inline-block; }

/*CONSULT_ALLSENDPAGE END*/
.steward_showbigpic .showbigpic {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
  top: 0;
  left: 0;
  max-width: 640px;
  width: 100%;
  /*background-color: #a1a1a1;*/
  height: 100%;
  text-align: center; }
  .steward_showbigpic .showbigpic img {
    width: 100%; }
  .steward_showbigpic .showbigpic a {
    display: inline-block;
    width: 30%;
    height: 30px;
    background-color: #00adef;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    margin: 12px 0; }

/*# sourceMappingURL=style.css.map */
