.slideshow { position: absolute; width: 100%; height: 100%; overflow: hidden; left: 0;}
.movebg{
  position: absolute; width: 100%; height: 100%; background: no-repeat 50% 50%; background-size: cover;
  -webkit-transform: scale(1.2); transform: scale(1.2);
}
.slideshow-image { 
  -webkit-animation-timing-function: linear; animation-timing-function: linear; 
  -webkit-animation-duration: 6s; animation-duration: 6s; opacity: 0; 
  -webkit-animation-name: kenburns-1; animation-name: kenburns-1; z-index: 1;  
}
@-webkit-keyframes kenburns-1 {
  0% { opacity: 0.9; -webkit-transform: scale(1.2); transform: scale(1.2); }
  50% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  100% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes kenburns-1 {
  0% { opacity: 0.9; -webkit-transform: scale(1.2); transform: scale(1.2); }
  50% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  100% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}