* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	box-sizing: border-box;
}
html, body {
	font-size: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1472691791_8720617.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1472691791_8720617.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1472691791_8720617.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1472691791_8720617.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1472691791_8720617.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
                    
a {
	color: #000;
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

$font1:15px;
$index-color-collection: (#ed746c, #ed746c, #77a1f3, #60d0e4, #52d1be, #fb8d2e);
$color-collection: (#FA4294, #F02051, #30C5E0, #F6D810, #1CAD34, #F346E9, #F66060,#ed746c, #ed746c, #77a1f3, #60d0e4, #52d1be, #fb8d2e);
$box_bg: rgba(255, 255, 255, 0.7);
$fontColor: #404040;

/* COMMON */
.plus_sign {
	position: relative;
	cursor: pointer;

	&:before {
		width: 20px;
		height: 1px;
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: #000000;
	}
	&:after {
		width: 1px;
		height: 20px;
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: #000000;
	}
}
.cursor_ios {
	cursor: pointer;
}
.container {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
.content_wrap {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 100vh;
	overflow-y: auto;
}
.close_edit_wrap {
	cursor: pointer;
}
.show_wrap, .show_wrap2 {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 100%;
	display: none;
	background-color: #fff;
}
.show_wrap {
	overflow-y: auto;
}
.show_wrap2 {
	background: #ececec;
}
.content_wrap {
	position: relative;
	z-index: 1;
}
.dis_head {
	padding: 0.5rem 0;

	img {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		margin: 0 auto;
		display: block;
	}
	p {
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
		line-height: 2rem;
	}
}
.money_color1 {
	color: #EC9D62 !important
}
.order_color1 {
	color: #30C5E0 !important;
}
/* COMMON */

/* STORE_INDEX */
.index_nav li{
	width:20%;
	text-align:center;
	float:left;
	margin-top: 10px;
	p{
		font-size:13px;
		color:#5b5858;
		line-height: 30px;
	}
	i{
		border:0px;
		text-align:center;
		height:43px;
		font-size: 25px;
		color:#fff;
		border-radius:100%;
		width:45px;
		line-height:43px;
		display: inline-block;
	}
}
@for $i from 0 to length($index-color-collection) {
	.index_nav li:nth-of-type(#{$i}) i{
		background-color: nth($index-color-collection, $i+1);
	}
}
/* STORE_INDEX */

/* DISTRIBUTION_LOGIN_REGISTER */
@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	border:none;
	text-decoration:none;
	color:#000;
	list-style-type:none;
	box-sizing:border-box;
}
ul li{
	list-style:none;
}
.clear{
	clear:both;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
body{
	background:#f4f4f4;
}




/**content**/
.login_content{
	width:100%;
	position: relative;
	.bg{
		float:left;
		img{
			width:100%;
		}
	}
	.xx{
		position:absolute;
		width:100%;
		.top{
			margin:30px 0px;
			.tx{
				width:100px;
				height:100px;
				margin:0 auto;
				background-color: #fff;
			    border-radius: 50%;
			    padding-top: 5px;
			    img{
			    	width: 90%;
			        margin: 0 auto;
			        display: block;
			        border-radius: 100px;
			    }
			}
		}
		.text{
			width:70%;
			height:40px;
			margin-bottom:15px;
			margin-left:15%;
			background:#a6d8d0;
			border-radius:100px;
			.name{
				width:80%;
				height:38px;
				background:#a6d8d0;
				border-radius:100px;
				color:#fefefe;
				font-size:16px;
				float:left;
				margin-top:1px;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				outline: none;
			}
			.icon1{
			  font-size: 22px;
			  color:#fefefe;
			  line-height: 38px;
			  padding-left:10px;
			  padding-right:10px;
			  float:left;
			}
		}
		.text1{
			width:70%;
			height:auto;
			margin-top:30px;
			margin-left:15%;
			background:#a6d8d0;
			border-radius:100px;
			.tj{
				width:100%;
				height:40px;
				background:url(../images/bg2.jpg);
				border-radius:100px;
				line-height:30px;
				font-size:20px;
				color:#6b6c6c;
				letter-spacing:1px;
				word-spacing:1px;
			}
		}
	}
}
/* DISTRIBUTION_LOGIN_REGISTER */

/*DISTRIBUTION_INDEX WEUI*/
.weui_cell_extend {
	padding: 6px 8px;

	p {
		font-size: $font1;
		color: $fontColor;
		text-indent: 7px;
	}
	.weui_cell_ft:after {
		border-color: $fontColor;
	}
}
.weui_cells_extend {
	background-color: rgba(0, 0, 0, 0);
	margin-top: 0;

	a {
		background-color: $box_bg;

		&:nth-of-type(2n):not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.weui_cell_hd_extend {
		width: 36px;
		height: 36px;
		border-radius: 4px;
		text-align: center;
		line-height: 36px;
		color: #fff;
		font-size: 22px;
	}
}
@for $i from 0 to length($color-collection) {
	.weui_cells_access a:nth-of-type(#{$i}) .weui_cell_hd_extend {
		background-color: nth($color-collection, $i+1);

		@if($i == 2) {
		}
	}
}
.weui_cell_ft_extend {
	font-size: $font1;
	color: $fontColor;
}
.weui-row-extend {
	border-top: 1px solid #ececec;
	padding: 0.5rem 0 0 0;
	background-color: $box_bg;

	[class*="weui-col-"] {
		position: relative;

		span {
			position: absolute;
			left: 55%;
			background-color: #F35508;
			width: 0.7rem;
			height: 0.7rem;
			border-radius: 50%;
			text-align: center;
			color: #F35508;
			z-index: 1;
			font-size: 0.5rem;
			font-weight: bold;
			margin-left: 0.4rem;
		}
		p {
			text-align: center;
			color: $fontColor;

			&:nth-of-type(1) {
				font-size: 2rem;
				line-height: 2rem;
			}
			&:nth-of-type(2) {
				font-size: 1rem;
				line-height: 2.2rem;
			}
		}
	}
}
.weui_cell:before {
	left: 0;
}

/*DISTRIBUTION_INDEX WEUI*/

/*MYDISTRIBUTION WEUI*/
.weui-row-extend2 {
	padding-top: 10px;

	.weui-col-extend {
		background-color: $box_bg;
		padding: 5px 0;

		@for $i from 0 to length($color-collection) {
			&:nth-of-type(#{$i}) p:nth-of-type(1) {
				background-color: nth($color-collection, $i+1);
			}
		}
		p:nth-of-type(1) {
			background-color: red;
			width: 15vw;
			margin: 0 auto;
			height: 15vw;
			text-align: center;
			border-radius: 50%;
			line-height: 15vw;
			font-size: 10.2vw;
			color: #fff;
		}
		p:nth-of-type(2) {
			text-align: center;
			line-height: 1.4rem;
			font-size: 0.7rem;
			color: #3A3A3A;
		}
	}
}

/*MYDISTRIBUTION WEUI*/
.public_foot {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	background-color: rgba(210, 210, 210, 0.6);
	z-index: 1;
	margin: auto;
	left: 0;
	right: 0;

	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		border-top: 1px solid #D9D9D9;
		color: #D9D9D9;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}
	p {
		text-align: center;

		&:nth-of-type(1) {
			font-size: 28px;
			line-height: 34px;
		}
		&:nth-of-type(2) {
			font-size: 14px;
			line-height: 18px;
			color: #3A3A3A;
		}
	}
}

/*MYINFO*/
#shoplogo {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;	/* right: 15px; */
	top: 10px;
	text-indent: -99px;
	opacity: 0;
	z-index: 1;	/*background: red;*/
}
#img_upload_loading {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 14px;
	top: 10px;
	padding: 5px 0 0 5px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;

	img {
		width: 30px;
		height: 30px;
	}
}
#info_edit_wrap {
	position: fixed;
	top: 0;
	left: 100%;
	right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	max-width: 640px;
	z-index: 1;
	background-color: #fff;
}
.info_edit_wrap_title {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	background-color: #eee;
	background: #fff;  /*border-bottom: 1px solid #ececec;*/
	box-shadow: 0px 1px 10px #A5A5A5;

	.info_edit_wrap_title_item {
		height: 40px;
		line-height: 40px;
		cursor: pointer;
	}
	.info_edit_wrap_title_center {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-box-align: center;
		justify-content: center;
	}
	.info_edit_wrap_title_left, .info_edit_wrap_title_right {
		text-align: center;
		width: 3rem;
	}
	.info_edit_wrap_title_left:before {
		content: " ";
		display: inline-block;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		height: 9px;
		width: 9px;
		border-width: 0 0 2px 2px;
		border-color: #000;
		border-style: solid;
		position: relative;
		top: -2px;
		top: -1px;
		margin-left: .3em;
	}
}

/*MYINFO*/

/* MYADDRESS */
.add_foot {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;

	a {
		border-radius: 0;
	}
}
.weui_cell_ft_address {
	span {
		font-size: 14px;
		width: 34px;
		display: inline-block;
		text-align: center;
	}
}

/* MYADDRESS */
#address_list {
	position: relative;
	width: 100%;
	max-width: 640px;
	margin: auto;
	background-color: #ececec;
}

/* MYADDRESS */

/* STOREMY */
.store_my_col_20_extend {
	text-align: center;
	line-height: 44px;
	font-size: 14px;
	cursor: pointer;
}
.store_my_col_choose {
	border-bottom: 2px solid #f66060 !important;	/*text-shadow: 0 0 2px #f66060;*/
	color: #f66060;
}

/* STOREMY */

/* LOADING */
#public_loading_page {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 11;
	max-width: 640px;
	display: none;

	.public_loading_page_img_item {
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
		width: 80px;
		height: 80px;
		position: absolute;
		top: 50%;
		margin-top: -40px;
		right: 50%;
		padding-top: 8px;
		margin-right: -40px;
		border-radius: 10px;

		img {
			max-width: 40px;
			margin: 0 auto;
		}
		p {
			text-align: center;
			color: #fff;
			line-height: 17px;
		}
	}
}

/* LOADING */
.public_footer_choose p{
  color: #F35508 !important;
}