*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body,.container{
	width: 100%;
}
.clear{
	clear: both;
}
.qrcode_bg{
	position: relative;
	width: 100%;
}
.qrcode_wrap{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.qrcode_top{

width: 65%;

margin: 3% auto 0;
}
.qrcode_top img{
	width: 100%;
}
.account_info{
	margin-top: 1%;
	margin-left: 17%;
	text-align\: c;
}
.account_info_left{
	width: 26%;
	float: left;
}
.account_info_left img{
	width: 100%;
	display: block;
}
.account_info_right{
	float: left;
	margin-left: 5px;
	max-width: 70%;
}
.account_info_right p:first-of-type{
	background-color: #d73c8f;
	height: 9vw;
	line-height: 9vw;
	font-size: 6vw;
	text-indent: 3px;
	color: #fff;
	margin-top: 4vw;
}
.account_info_right p img{
	
width: 68%;
	
margin-top: 5px;
}
.qrcode_word_item{
	
text-align: center;
	
font-size: 4vw;
	
margin-top: 7px;
}
.qrcode_img{

width: 65%;

margin: 2% auto 0;

border: 1px dotted #7bbfdc;

padding: 5px;

overflow: hidden;
}
.qrcode_img img{
	width: 100%;
	display: block;
}